[submodule "ZenEngine/vendor/spdlog"]
	path = ZenEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ZenEngine/vendor/glfw"]
	path = ZenEngine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "ZenEngine/vendor/glm"]
	path = ZenEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ZenEngine/vendor/SPIRV-Cross"]
	path = ZenEngine/vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ZenEngine/vendor/imgui"]
	path = ZenEngine/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "ZenEngine/vendor/entt"]
	path = ZenEngine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "ZenEngine/vendor/cereal"]
	path = ZenEngine/vendor/cereal
	url = https://github.com/USCiLab/cereal
[submodule "ZenEngine/vendor/ImGuizmo"]
	path = ZenEngine/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
